/******************************************************************************
 *          Name: styles.css
 *        AUTHOR: Chad Chapman
 *  DATE CREATED: 20200811
 *   DESCRIPTION: Stylesheet for video game gallery website.
 *       VERSION: 1.0
 *****************************************************************************/
body { 
    font-family: Tahoma, Verdana, Arial, sans-serif; 
    background-image: url('/sites-available/gamegallery/images/background-image-assassins-creed-odyssey.jpg');
    padding: 20px;
    color: black;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
}

h1 {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 15px;
}

h2 {
    font-size: 30px;
}

h1, h2, p {
    text-align: center;
}

html { 
    color-scheme: light dark; 
}

input {
    width: 50%;
}

label {
    display: block;
    margin: 0.5rem 0;
}
.content_background {
    width: 80%;
    max-width: 750px;
    padding: 20px;
    margin-left: 300px;
    margin-right: auto;
    background-color: burlywood;
}

.hr_menu {
    padding: 0;
    margin: 0;
    color: burlywood;
}

.input_styles {
    background-color: wheat;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main {
    margin-left: 200px;
}

.p_div {
    padding-bottom: 5px;
}

.p_left {
    text-align: left;
}

 /* The side navigation menu */
 .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 

  
